@use '../base' as *;

.card {
  display: grid;
  gap: 2ch;
  width: clamp(310px, 90%, 600px);
  padding: 0 0 1ch 3ch;

  position: relative;

  cursor: pointer;

  @media (max-width: 420px) {
    padding: 0 0 1ch 1ch;
  }

  &__link {
    transition: color 0.3s ease-in;
    &:hover {
      color: $lilac;
    }
  }

  &:hover {
    /* Ao fazer o hover sobre o elemento as bordas irão reagir
    mas só se não houver configuração de reduced motion*/
    @media (prefers-reduced-motion: no-preference) {
      &::before {
        transform: scaleY(1);
      }
      &::after {
        transform: scaleX(1);
      }
    }
  }
  /* Estilos da borda não aparecerão em dispositivos de toque*/
  @include touch-support() {
    &::after {
      @include post-animation-template(bottom);
    }
    &::before {
      @include post-animation-template(top);
    }
  }
  @media (max-width: 460px) {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;

      transform: translateX(-10px);

      height: 100%;
      width: 10px;

      background-image: linear-gradient(to top, #543dc9 50%, #4e7cfc);
    }
  }
}
